@font-face {
  font-family: 'MuseoSansCyrl-500';
  src: url("fonts/MuseoSansCyrl-500_gdi.eot");
  src: url("fonts/MuseoSansCyrl-500_gdi.eot?#iefix") format("embedded-opentype"), url("fonts/MuseoSansCyrl-500_gdi.woff") format("woff"), url("fonts/MuseoSansCyrl-500_gdi.ttf") format("truetype"), url("fonts/MuseoSansCyrl-500_gdi.svg#MuseoSansCyrl-500") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+000D-2122; }
body {
  font-family: 'MuseoSansCyrl-500';
  margin: 0;
  padding: 0; }

.mt40 {
  margin-top: 40px; }

.clear {
  clear: both; }

.hidden {
  display: none; }

.boxshadow {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8); }

header {
  clear: both;
  padding-bottom: 30px;
  border-bottom: 1px solid #e4edee; }
  header .logo {
    display: inline-block;
    margin-right: 40px;
    margin-top: 30px;
    vertical-align: top; }
  header .topImage {
    display: inline-block; }

.sidebar {
  float: left;
  width: 300px; }

.content {
  width: 1024px;
  margin: 0 auto; }

.content-section {
  width: 700px;
  float: left;
  margin-right: 24px;
  margin-bottom: 30px; }

.top {
  height: 86px;
  border-bottom: 1px solid #e4edee; }
  .top .logo {
    float: left;
    margin-top: 0;
    padding-top: 30px;
    width: 120px; }
    .top .logo img {
      max-width: 106px; }
  .top nav ul {
    padding-left: 0;
    margin-left: 0;
    height: 86px;
    list-style: none;
    width: 680px;
    float: left;
    margin-top: 0;
    text-align: center; }
    .top nav ul li {
      display: inline-block;
      margin: 0 3px;
      line-height: 86px; }
      .top nav ul li a {
        font-size: 14px;
        color: #106783;
        font-weight: bold;
        padding: 7px 10px 6px 10px;
        border: 1px solid #fff;
        text-decoration: none;
        text-transform: uppercase; }
        .top nav ul li a:hover {
          border: 1px solid #e4edee;
          text-decoration: none; }
  .top .phone {
    font-size: 24px;
    color: #106783;
    float: right;
    line-height: 86px;
    width: 220px;
    text-align: right; }

.breadcrumbs {
  margin-bottom: 20px; }
  .breadcrumbs span {
    color: #517c8c;
    font-size: 14px; }
  .breadcrumbs a {
    color: #517c8c;
    font-size: 14px;
    text-decoration: underline; }

.slider {
  width: 100%;
  height: 365px;
  background: url(../images/slider.png) top center no-repeat;
  padding-top: 35px;
  margin-bottom: 50px; }

.content-inner {
  padding-top: 30px; }
  .content-inner aside {
    padding: 20px 30px;
    border: 1px solid #e4edee;
    margin-bottom: 30px; }
    .content-inner aside h4 {
      font-size: 16px;
      color: #106783;
      font-weight: bold; }
    .content-inner aside ul {
      padding-left: 0;
      margin-left: 0; }
    .content-inner aside li {
      padding-left: 0;
      margin-left: 0;
      list-style: none;
      margin-bottom: 10px; }
    .content-inner aside h3 {
      padding-bottom: 5px;
      border-bottom: 1px solid #e4edee;
      margin-top: 0;
      margin-bottom: 10px; }
    .content-inner aside a {
      line-height: 1.5em;
      margin-bottom: 5px; }
  .content-inner .post-block {
    margin-bottom: 40px; }
  .content-inner .todate {
    margin-top: 5px;
    font-size: 12px; }
  .content-inner .tags {
    margin-top: 3px;
    font-size: 12px; }
  .content-inner h1 {
    font-size: 28px;
    color: #106783;
    margin-top: 0; }
  .content-inner .main-heading a {
    font-size: 28px;
    color: #106783;
    margin-top: 0;
    text-decoration: none; }
  .content-inner .navigation {
    margin-top: 30px;
    height: 30px; }
  .content-inner .navigation ol li span.current {
    background: #106783; }
  .content-inner h2 {
    font-size: 24px;
    color: #1b505b; }
  .content-inner h3 {
    font-size: 16px;
    color: #106783;
    text-transform: uppercase; }
  .content-inner h4 {
    font-size: 16px;
    color: #106783;
    font-weight: bold; }
  .content-inner p {
    font-size: 14px;
    color: #2f3b47;
    font-family: "Arial";
    line-height: 1.5em; }
  .content-inner ul li {
    font-size: 14px;
    color: #2f3b47;
    font-family: "Arial";
    line-height: 1.5em; }
  .content-inner ol li {
    font-size: 14px;
    color: #2f3b47;
    font-family: "Arial";
    line-height: 1.5em; }
  .content-inner input[type="text"] {
    width: 100%;
    max-width: 500px;
    height: 45px;
    font-size: 16px;
    color: #333333;
    padding: 0 15px;
    outline: none;
    margin-top: 20px;
    background: #fff;
    border: 1px solid #c4c4c4;
    border-radius: 3px; }
    .content-inner input[type="text"]:focus {
      -webkit-box-shadow: 0px 0px 10px 0px #adabad;
      -moz-box-shadow: 0px 0px 10px 0px #adabad;
      box-shadow: 0px 0px 10px 0px #adabad; }
    .content-inner input[type="text"]:disabled {
      background: #fafdff;
      color: #666666; }
  .content-inner select {
    width: 100%;
    max-width: 500px;
    height: 45px;
    font-size: 16px;
    color: #333333;
    padding: 0 15px;
    outline: none;
    margin-top: 20px;
    background: #fff;
    border: 1px solid #c4c4c4;
    border-radius: 3px; }
    .content-inner select:focus {
      -webkit-box-shadow: 0px 0px 10px 0px #adabad;
      -moz-box-shadow: 0px 0px 10px 0px #adabad;
      box-shadow: 0px 0px 10px 0px #adabad; }
    .content-inner select:disabled {
      background: #fafdff;
      color: #666666; }
  .content-inner .button {
    width: 200px;
    height: 54px;
    background: #30d4f5;
    color: #fff;
    font-size: 20px;
    line-height: 54px;
    border: none;
    outline: none;
    text-align: center;
    outline: none; }
    .content-inner .button:hover {
      background: #2cbedb; }
    .content-inner .button:active {
      background: #106783; }
  .content-inner input[type="checkbox"] {
    width: 16px;
    height: 16px; }
  .content-inner input[type="radio"] {
    width: 16px;
    height: 16px; }
  .content-inner button, .content-inner input[type="submit"], .content-inner input[type="button"] {
    width: 200px;
    height: 54px;
    background: #30d4f5;
    color: #fff;
    font-size: 20px;
    line-height: 54px;
    border: none;
    outline: none;
    text-align: center; }
    .content-inner button:hover, .content-inner input[type="submit"]:hover, .content-inner input[type="button"]:hover {
      background: #2cbedb; }
    .content-inner button:active, .content-inner input[type="submit"]:active, .content-inner input[type="button"]:active {
      background: #106783; }
  .content-inner a {
    color: #2CBEDB;
    font-size: 14px;
    text-decoration: underline; }
    .content-inner a:hover {
      text-decoration: none; }
    .content-inner a:active {
      color: #106783; }
    .content-inner a:visited {
      color: #667f87; }

footer {
  padding-bottom: 40px;
  clear: both;
  padding-top: 20px;
  border-top: 1px solid #e4edee;
  font-family: 'MuseoSansCyrl-500'; }
  footer p {
    font-family: 'MuseoSansCyrl-500';
    line-height: 1 !important; }
  footer .cent {
    width: 200px;
    float: left;
    margin-top: 30px;
    padding-bottom: 40px; }
    footer .cent img {
      max-width: 100%;
      margin-bottom: 20px; }
    footer .cent p {
      font-size: 14px;
      color: #106783;
      margin-top: 0;
      margin-bottom: 10px;
      font-family: 'MuseoSansCyrl-500'; }
      footer .cent p.ph {
        font-size: 18px;
        margin-bottom: 10px; }
      footer .cent p.gr {
        font-size: 14px; }
    footer .cent a {
      font-size: 14px;
      color: #30d4f5;
      text-decoration: underline; }
  footer .cent2 {
    width: 330px;
    float: left;
    margin-top: 85px;
    padding-bottom: 40px; }
    footer .cent2 p {
      font-size: 14px;
      color: #106783;
      margin-top: 0;
      margin-bottom: 10px;
      font-family: 'MuseoSansCyrl-500'; }
      footer .cent2 p.ph {
        font-size: 18px;
        margin-bottom: 10px; }
    footer .cent2 a {
      font-size: 14px;
      color: #30d4f5;
      text-decoration: underline; }
  footer .magz {
    float: left;
    width: 260px;
    margin-top: 30px; }
    footer .magz .titl {
      font-size: 24px;
      color: #1b505b;
      margin-bottom: 25px; }
    footer .magz a {
      font-size: 14px;
      color: #30d4f5;
      text-decoration: underline;
      margin-bottom: 15px;
      display: block;
      font-family: 'MuseoSansCyrl-500'; }
  footer .pokup {
    float: left;
    width: 230px;
    margin-top: 30px;
    font-family: 'MuseoSansCyrl-500'; }
    footer .pokup .titl {
      font-size: 24px;
      color: #1b505b;
      margin-bottom: 25px; }
    footer .pokup a {
      font-size: 14px;
      color: #30d4f5;
      text-decoration: underline;
      margin-bottom: 15px;
      font-family: 'MuseoSansCyrl-500';
      display: block; }
      footer .pokup a.face {
        color: #517c8c;
        padding-left: 20px;
        margin-top: 30px;
        background: url(images/fc.png) left center no-repeat; }
  footer .copy {
    clear: both;
    margin-top: 30px;
    color: #a7bcbe;
    font-size: 12px; }

/*# sourceMappingURL=style.css.map */
